<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326182106603-eva3ihnsk8p3v7sbqh6cn3f57nhmsjvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326182106603-eva3ihnsk8p3v7sbqh6cn3f57nhmsjvb</string>
	<key>API_KEY</key>
	<string>AIzaSyABc8udbrKtroC-dljE20AKmcB4hcRHIRg</string>
	<key>GCM_SENDER_ID</key>
	<string>326182106603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calculate.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-7b4f0</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-7b4f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326182106603:ios:dd253baa884e4ff42a95ae</string>
</dict>
</plist>